.listTasks {
  grid-area: tasks;
  height: 100%;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  ul {
    max-height: 21.875rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 17rem;
  }

  @media screen and (min-width: 1280px) {
    h2 {
      font-size: 2.25rem;
      margin-bottom: 1.5rem;
    }

    ul {
      overflow: auto;
      max-height: 31.25rem;
      max-width: none;
    }
  }
}