.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: timer;
  
  .title {
    font-size: 2rem;
    white-space: pre-line;
  }

  .display {
    align-items: center;
    background-color: #7687a1;
    border-radius: 0.625rem;
    box-shadow: 2px 4px 4px #0000009f;
    box-sizing: border-box;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 1rem 0.75rem;
    width: 75%;

    .digits {
      background-color: #5d677c;
      box-shadow: 2px 2px 4px #2b2b2b inset;
      height: 3.6rem;
      width: 3rem;
      padding: 0.5rem 0.25rem;
      border-radius: 0.625rem;
      text-align: center;

      &:nth-child(3n - 1) {
        box-shadow: 0 2px 4px #2b2b2b inset;
      }

      @media screen and (min-width: 1280px) {
        height: 7.1875rem;
        width: 9rem;
      }
    }

    .divider {
      height: 4.2rem;

      @media screen and (min-width: 1280px) {
        height: 8.125rem;
      }
    }
  }

  button {
    background-color: #88bcd1;
    border-radius: 0.625rem;
    box-shadow: 2p 4px 4px #0000009f;
    color: #272626;
    font-size: 1.25rem;
    padding: 1rem;
    width: 9.375rem;

    &:enable:active {
      background-color: #7ca6b7;
      box-shadow: 2px 4px 4px #0000009f inset;
      cursor: auto;
    }
  }

  @media screen and (min-width: 1280px) {
    .display {
      font-size: 10rem;
      max-width: none;
    }

    p {
      font-size: 2rem;
    }

    button {
      grid-column-start: span 2;
      justify-self: center;
      width: 12.5rem;
      font-size: 2.25rem;
    }
  }
}