.main {
  display: grid;
  justify-items: center;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
    "new-task"
    "timer"
    "tasks"
  ;
  row-gap: 1.5rem;
  min-height: calc(100vh - 32px);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  background-color: #171717;

  @media screen and (min-width:1280px)  {
    grid-template-areas: 
      "new-task tasks"
      "timer tasks"
    ;
    column-gap: 4rem;
    grid-template-rows: min-content min-content;
    grid-template-columns: 46.875rem 18.75rem;
    justify-content: center;
    align-content: center;
    padding: 4rem;
  }
}